  <div id="mySidenav" class="sidenav">
    <button class="btn btn-rounded btn-orange">Exit Room</button>
    <div class="profile-section">
      <div data-toggle="modal" data-target="#profile" style="cursor: pointer;">
        <img alt="Avatar" class="profile-img center" src="img/group_profile 2.JPG">
      </div>
      <h3 id="room-name" class="gold-member">Room Name</h3>
      <span class="badge badge-gold">G</span>
      <span class="gold-member" style="margin-left: 4px">Gold Account</span>
      <div>
        <i data-toggle="modal" data-target="#shareModal" class="fas fa-share-alt icon-style"></i>
        <i data-toggle="modal" data-target="#settingModal" class="fas fa-cog icon-style"></i>
        <i data-toggle="modal" data-target="#followModal" class="fas fa-user-plus icon-style"></i>
      </div>
    </div>
    <a href="javascript:void(0)" class="closebtn" id="closeNav">
      <i class="fa fa-times" onclick="closeNav()"></i>
    </a>

		<!--- accordion ----->
		<div id="accordion">
			<div class="card">
		    <div class="card-header" id="heading-3">
		      <h5 class="mb-0">
		        <a class="collapsed" role="button" data-toggle="collapse" href="#about-collapse" aria-expanded="false" aria-controls="collapse-3">
		          About
		        </a>
		      </h5>
		    </div>
		    <div id="about-collapse" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
		      <div class="card-body">
		        <p>
							Lorem Ipsum proin gravida nibh vel velit auctor aliquet. Aenean soll
							icitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sa
							gittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit a
							met mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auct
							or a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class ap
						</p>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="heading-1">
		      <h5 class="mb-0">
						<a class="collapsed" role="button" data-toggle="collapse" href="#messages-collapse" aria-expanded="false" aria-controls="collapse-1">
							<i class="fas fa-envelope"></i>
							Messages
						</a>
		      </h5>
		    </div>
		    <div id="messages-collapse" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
		      <div class="card-body">

		        <div id="accordion-1">
		          <div class="card">
		            <div class="card-header" id="heading-1-2">
		              <h5>
		                <a class="collapsed showChat" role="button"href="#">
											<i class="fas fa-comment-dots"></i>
		                  Public Chat
		                </a>
		              </h5>
		            </div>
		          </div>
		        </div>

						<div id="accordion-1">
		          <div class="card">
		            <div class="card-header" id="heading-1-2">
		              <h5 class="mb-0">
		                <a class="collapsed" role="button" data-toggle="collapse" href="#direct-collapse" aria-expanded="false" aria-controls="collapse-1-2">
											<i class="fas fa-envelope"></i>
		                  Contacts & Friends
		                </a>
		              </h5>
		            </div>
		            <div id="direct-collapse" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
		              <div class="card-body">
										<ul class="accordion-ul">
											<li>
								        <a href="#" class="gold-member">
								          <span class="badge badge-gold">G</span>
								          <img src="img/img_avatar 1.png" alt="Avatar" class="avatar">
								          PRETTYBOI_CASH
								          <i class="fas fa-video icon-video"></i>
								        </a>
								      </li>
								      <li>
								        <a href="#" class="silver-member">
								          <span class="badge badge-silver">S</span>
								          <img src="img/img_avatar 2.png" alt="Avatar" class="avatar">
								          OGTaylor
								          <i class="fas fa-video icon-video"></i>
								        </a>
								      </li>
								      <li>
								        <a href="#" class="bronze-member">
								          <span class="badge badge-bronze">B</span>
								          <img src="img/img_avatar 3.png" alt="Avatar" class="avatar">
								          KKoolkat_CSG
								          <i class="fas fa-video icon-video"></i>
								        </a>
								      </li>
								      <li>
								        <a href="#" class="gold-member">
								          <span class="badge badge-gold">G</span>
								          <img src="img/img_avatar 4.png" alt="Avatar" class="avatar">
								          midknight
								          <i class="fas fa-video icon-video"></i>
								        </a>
								      </li>
								      <li>
								        <a href="#" class="gold-member">
								          <span class="badge badge-gold">G</span>
								          <img src="img/img_avatar 1.png" alt="Avatar" class="avatar">
								          Keeter
								          <i class="fas fa-video icon-video"></i>
								        </a>
								      </li>
										</ul>
		              </div>
		            </div>
		          </div>
		        </div>

		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="heading-2">
		      <h5 class="mb-0">
		        <a class="collapsed" role="button" data-toggle="collapse" href="#room-collapse" aria-expanded="false" aria-controls="collapse-2">
							<i class="fas fa-users"></i>
		          Room Users
		        </a>
		      </h5>
		    </div>
		    <div id="room-collapse" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
		      <div class="card-body">
						<ul class="accordion-ul">
					 <li id="connectionsPanel">
                <!-- FRIENDS -->
                      </li>
						</ul>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="heading-3">
		      <h5 class="mb-0">
		        <a class="collapsed" role="button" data-toggle="collapse" href="#game-collapse" aria-expanded="false" aria-controls="collapse-3">
							<i class="fas fa-gamepad"></i>
		          Game Menu
		        </a>
		      </h5>
		    </div>
		    <div id="game-collapse" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
		      <div class="card-body">
						<h4>GAME AVAILABLE SOON</h4>
		      </div>
		    </div>
		  </div>
		</div>
		<!--- END OF accordion ----->

		<!---
    <div id="signin-wrapper">
      <img src="img/img_default.png" alt="Avatar" class="avatar">
      <p class="username">Guest_104</p>
      <div class="btn-wrapper">
        <button onclick="myLogin()" class="btn btn-rounded btn-green">SIGNIN</button>
        <button onclick="mySignup()" class="btn btn-rounded btn-orange">UPGRADE</button>
      </div>
    </div> ---->
  </div>
 
<div id="box1">
    <nav class="navbar navbar-expand-lg" id="topNav">
      <div class="container-fluid">

          <button onclick="openNav()" type="button" id="sidebarCollapse" class="custom-btn">
              <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#" id="roomIcon">
              <img src="img/room_icon.png" width="40px">
              <span class="white-txt"><div id="youInfoPanel" class="" style="display: none; margin-top:-57px;margin-left:47px;">
                <!-- YOU INFO -->
               
                <div class="panel-body" id="youInfo">
                </div>
            </div></span>
          </a>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link white-txt" href="store.html#virtual-gifts">Give a Gift</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link white-txt" href="store.html">Get a Coins</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
    <div id="box4">
      <div class="ctrls-wrapper">
        <span class="ctrls"><i class="fa fa-volume-up"></i></span>
        <span class="ctrls"><i class="fa fa-microphone"></i></span>
        <span class="ctrls"><i class="fa fa-expand"></i></span>
        <span data-toggle="modal" data-target="#mediaDevice" class="ctrls"><i class="fa fa-ellipsis-v"></i></span>
        <button id="addVideos" class="btn btn-rounded btn-green">Add Videos</button>
        <button id="removeVideos" class="btn btn-rounded btn-orange">Remove Videos</button>
      </div>
      <div class="flex-container webcam-container" id="videoCounter">
      
<!-------VIDEOS WILL BE ADDED HERE ----------------->
    <div id="callPanel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><% print($.fn.mgVideoChat._('Call')); %></h3>
                </div>
                <div class="panel-body">
                    <div id="videoPanel">
                        <div id="videoToolbar" class="btn-group" role="toolbar">                                                       
                            <button type="button" id="videoFullScreen" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Full Screen')); %>">
                                <span class="glyphicon glyphicon-fullscreen"></span>
                            </button>
                            <button type="button" id="videoExitFullScreen" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Exit Full Screen')); %>">
                                <span class="glyphicon glyphicon-resize-small"></span>
                            </button>
                            <button type="button" id="callHangup" class="btn btn-danger btn-lg" title="<% print($.fn.mgVideoChat._('Hang up')); %>">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </button>
                            <button type="button" id="videoMute" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Video Mute')); %>" data-title-on="<% print($.fn.mgVideoChat._('Video Mute')); %>" data-title-off="<% print($.fn.mgVideoChat._('Video Un-Mute')); %>" data-icon-on="glyphicon-eye-open" data-icon-off="glyphicon-eye-close">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="button" id="audioMute" class="btn btn-default btn-lg" title="<% print($.fn.mgVideoChat._('Audio Mute')); %>" data-title-on="<% print($.fn.mgVideoChat._('Audio Mute')); %>" data-title-off="<% print($.fn.mgVideoChat._('Audio Un-Mute')); %>" data-icon-on="glyphicon-volume-up" data-icon-off="glyphicon-volume-off">
                                <span class="glyphicon glyphicon-volume-up"></span>
                            </button>                            
                        </div>
                        <video id="remoteVideo" autoplay="autoplay" playsinline></video>
                        <video id="localVideo" autoplay="autoplay" playsinline style="display: none" muted="true"></video>
                        <div id="remoteVideoBg" style="display: none"></div>
                        <div id="localVideoBg" style="display: none"></div>                        
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div id="box5">
      <object data="http://www.youtube.com/embed/W7qWa52k-nE"width="100%" height="300"></object>
      <button class="btn btn-small btn-success" id="closeVideo">Close</button>
    </div>
  </div>
  <div id="box3">
  
		<div class="flex-container">
		  	<button class="btn btn-block btn-success">START BROADCAST</button>
		</div>
	</div>
  
  
  
<div class="container">
    <div id="messagePanel">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div class="text"></div>
        </div>
    </div>
    <!-- LOGIN BUTTONS -->
    <div id="loginPanel">
        <button id="loginButton" class="btn btn-primary btn-lg"><% print($.fn.mgVideoChat._('Login')); %></button>
    </div>    
    <div class="row row-offcanvas row-offcanvas-left">
        <div id="sideMenu" class="col-sm-10 col-md-5" data-no_chat_class="col-sm-12 col-md-8" data-chat_class="col-sm-10 col-md-5 sidebar-offcanvas">
            <div id="filesPanel" class="panel panel-default" style="display: none">
                <!-- FILES -->
                <div class="panel-heading">
                    <h3 class="panel-title">Files</h3>
                </div>
                <div class="panel-body">
                    <ul id="files"></ul>
                </div>
            </div>
            
            
            
          
                        
        </div>
        <div id="mainContent" class="col-sm-0" data-no_chat_class="col-sm-0" data-chat_class="col-sm-12 col-md-7 open">
            <nav id="offcanvasTB" class="navbar navbar-default" role="navigation">
                <button type="button" id="offcanvasButton" class="navbar-toggle pull-left btn-primary"><span class="glyphicon"></span></button>
            </nav>
            
            
            
            <div id="chatPanel" class="panel panel-primary">
            <div id="box2">
            <div class="chatbox">
				<a href="#" class="showChat">
					<div class="chatbox-head">
						<span class="badge badge-pill badge-primary" id="chat-notification">5</span>
						<span id="public-chat" class="panel-title"><% print($.fn.mgVideoChat._('Chat')); %></span>
						<button class="btn-close"><i id="arrow" class="fas fa-arrow-down"></i></button>
					</div>
				</a>

              
                <div class="chatbox-body">
			            <div id="chats"></div>                    
                </div>
                </div>
                </div>
            </div>  
            
            
            
            
            
            
            
                      
        </div>
    </div>
</div>
<div id="loginDialog" class="modal fade" data-focus-on="input:first" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('Login')); %></h4>
            </div>
            <div class="modal-body">
                <label class="sr-only" for="userName"><% print($.fn.mgVideoChat._('Username')); %></label>
                <input id="userName" class="form-control" type="text" data-tabindex="1" placeholder="Username">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary login"><% print($.fn.mgVideoChat._('Login')); %></button>
            </div>
        </div>
    </div>
</div>

<div id="answerDialog" class="modal fade" style="display: none" data-caller_id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ringing</h4>
            </div>
            <div class="modal-body">
                <h3 class="username"></h3>
                <div class="desc"></div>
            </div>
            <div class="modal-footer">
                <button id="answer" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Answer with Video')); %>">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                </button>
                <button id="answerAudio" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Answer Audio')); %>">
                    <span class="glyphicon glyphicon-earphone"></span>
                </button>              
                <button id="cancelCall" class="btn btn-danger btn-lg" title="<% print($.fn.mgVideoChat._('Cancel')); %>">
                    <span class="glyphicon glyphicon-phone-alt"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="shareDialog" class="modal fade" style="display: none" data-caller_id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('Share Video')); %></h4>
            </div>
            <div class="modal-body">
                <h3><% print($.fn.mgVideoChat._('Please choose video source.')); %></h3>
            </div>
            <div class="modal-footer">
                <button id="shareCam" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Share Webcam')); %>">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                </button>
                <button id="shareDesktop" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Share Desktop')); %>">
                    <span class="glyphicon glyphicon-sound-stereo"></span>
                </button>                
            </div>
        </div>
    </div>
</div>

<div id="requestDialog" class="modal fade" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('Access confirmation')); %></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <% print($.fn.mgVideoChat._('<strong>Heads up!</strong> Please note browser confirmation dialog on top of your window.')); %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fileAcceptDialog" class="modal fade" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><% print($.fn.mgVideoChat._('File Offer')); %></h4>
            </div>
            <div class="modal-body">
                <h3 class="username"></h3>
                <div class="desc"></div>
                <p><% print($.fn.mgVideoChat._('is offering a file <strong class="fileName"></strong> of <em class="fileSize"></em>')); %></p>
            </div>
            <div class="modal-footer">
                <button id="fileAccept" class="btn btn-success btn-lg" title="<% print($.fn.mgVideoChat._('Accept file')); %>">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button id="fileCancel" class="btn btn-danger btn-lg" title="<% print($.fn.mgVideoChat._('Reject')); %>">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<audio id="ringSound" preload="auto" loop="loop" style="display: none">
    <source src="<%=config.dir + config.sound.ogg%>" type="audio/ogg">
    <source src="<%=config.dir + config.sound.mp3%>" type="audio/mpeg">
</audio>
<audio id="notifySound" preload="auto" style="display: none">
    <source src="<%=config.dir + config.notifySound.ogg%>" type="audio/ogg">
    <source src="<%=config.dir + config.notifySound.mp3%>" type="audio/mpeg">
</audio>
<input style="display:none;" id="fileDialog" type="file" />