@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--phiz-color: #e8733d; /* orange */
	--secondary-color: #243039; /* grayish blue */
  --dark-bg-color: #212930; /* dark navy blue */
  --border-color: #63696e; /* gray */
  --free-account-color: #0c68ff; /* blue */
  --gold-account-color: #ffb80c; /* gold */
  --silver-account-color: #798386; /* silver */
  --bronze-account-color: #604737; /* brown */
  --online-color: #0ada08; /* bright green */
  --offline-color: #888888; /* gray */
  --do-not-disturb-color: #f51414; /* red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--dark-bg-color);
  overflow: auto;
}

/* remove btn default styling on hover and focus */
.btn:focus,.btn:active, .search-contact:focus, .chat-input:focus {
   outline: none !important;
   box-shadow: none;
}
/* account status */
.status {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.online {
  background: var(--online-color);
}
.offline {
  background: var(--offline-color);
}
.do-not-disturb {
  background: var(--do-not-disturb-color);
}

/* account type color for text*/
.gold-text {
  color: var(--gold-account-color);
}
.free-text {
  color: var(--free-account-color);
}
.silver-text {
  color: var(--silver-account-color);
}
.bronze-text {
  color: var(--bronze-account-color);
}

/* account type color for background*/
.gold-bg {
  background: var(--gold-account-color);
}
.free-bg {
  background: var(--free-account-color);
}
.silver-bg {
  background: var(--silver-account-color);
}
.bronze-bg {
  background: var(--bronze-account-color);
}

/* account type color for badge*/
.gold-badge {
  background: var(--gold-account-color);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.free-badge {
  background: var(--free-account-color);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.silver-badge {
  background: var(--silver-account-color);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.bronze-badge {
  background: var(--bronze-account-color);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red
::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

.whole-wrapper {
	display: flex;
	padding: 10px;
}
/****************** all sidebar styling below ***********************/
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--secondary-color);
  width: 20%;
  height: 100%;
  transition: 0.5s;
  text-align: center;
  padding-top: 50px;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px rgb(0,0,0,.2);
}

.profile-img-wrapper {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 10px;
  position: relative;
	border-radius: 50%;
  background-color: var(--phiz-color);
  animation: glow 1s infinite alternate;
	cursor: pointer;
}
.profile-img-wrapper > img {
  width: 100%;
  height: auto;
}


@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px rgb(232,115,61,0.3);
  }
  to {
    box-shadow: 0 0 10px 10px rgb(232,115,61,0.3);
  }
}
.user-info {
  margin: 20px 0;
}
#username-broadcast {
	text-decoration: none;
}
#username-broadcast:hover {
	color: var(--phiz-color);
}
#edit-photo-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--phiz-color);
  padding: 5px 5px 5px 7px;
  font-size: 10px;
  color: var(--dark-bg-color);
}
.contacts-wrapper {
  color: var(--border-color);
}
.contact-list {
  width: 100%;
  height: 390px;
  max-height: 390px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  overflow-x: hidden;
}
.contact-item {
	height: auto;
	display: flex;
}
.contact-list > li{
  width: 100%;
  border-bottom: 1px solid var(--dark-bg-color);
  border-top: 1px solid var(--dark-bg-color);
  height: auto;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}
.contact-list > li:hover {
  transform: scale(1.03, 1.03);
  transition: .3s;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}
.profile-holder {
	width: 20%;
	height: 80px;
  line-height: 80px;
}
.profile-holder > img {
	width: 80%;
	border-radius: 50%;
	margin: 5px;
	vertical-align: middle;
}
.contact-name {
	width: 80%;
	border-left: 1px solid var(--dark-bg-color);
	text-align: left;
	padding-left: 5px;
}

.contact-name > p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gift {
	float: right;
  background: none;
  color: var(--phiz-color);
	font-size: 15px;
	margin-right: 10px;
}

.gift:hover {
	padding: 5px;
	border-radius: 5px;
	color: var(--phiz-color);
	transform: scale(1.05, 1.05);
  transition: .3s;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
}
.search-contact, .chat-input {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background: var(--dark-bg-color);
	border: none;
	color: var(--secondary-color);
}
.search-contact:focus, .chat-input:focus {
	background-color: #344654;
	border: none;
	border-color: var(--dark-bg-color);
	color: #798386;
}

/****************** end of all sidebar styling ***********************/

/******************** main content styling  **************************/
.main-content {
  width: 80%;
	margin-left: 10px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0,0,0,.2);
}
nav {
  border-radius: 10px 10px 0 0;
  background: var(--phiz-color)!important;
}

.nav-right {
  margin-left: auto;
}
.chat-panel {
  width: 1100px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: auto;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
}
.nav-tabs {
  border-bottom: 1px solid var(--secondary-color);
}
.nav > .nav-item {
  width: 200px;
  position: relative;
}
.close-tab {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: var(--border-color);
}
.close-tab:hover {
  color: var(--phiz-color);
}
.nav-item > .nav-link {
  color: #fff;
}
#link-holder {
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	opacity: .5;
}
#link-holder:hover {
	opacity: 1;
}
.btn-copy {
	background: var(--gold-account-color);
	color: var(--dark-bg-color);
	border-radius: 15px;
	border-bottom: 3px solid #c78d00;
	border-right: 3px solid #c78d00;
}
.btn-copy:focus {
	border-top: 3px solid var(--phiz-color);
	border-left: 3px var(--phiz-color);
	border-bottom: none;
	border-right: none;
}
.nav-tabs .nav-link.active {
  opacity: 1;
  color: var(--phiz-color);
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color);
}
.tab-content {
  color: var(--border-color);
}
.main-view {
	background: var(--secondary-color);
	box-shadow: 5px 5px 10px rgb(0,0,0,.2);
	padding: 5px;
	border-radius: 0 0 20px 20px;
}
.ctrls-wrapper {
	text-align: right;
	margin-top: 3px;
	margin-bottom: 3px;
}
.ctrls {
	font-size: 18px;
	color: var(--phiz-color);
	cursor: pointer;
	padding: 10px 20px;
}
.ctrls:hover {
	transform: scale(1.03, 1.03);
	transition: .3s;
	box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
}
.carousel-item {
	width: 100%;
  height: 350px;
	border: 1px solid #3d5160;
	text-align: center;
	border-radius: 20px;
}
.carousel-item > h3 {
	color: #3d5160;
}
.carousel-control-next, .carousel-control-prev {
	width: 5%;
}
.flex-holder {
	display: flex;
	flex-wrap: nowrap;
}
#chatbox {
	width: 60%;
}
#vid-large-holder {
	padding: 5px;
	width: 40%;
	height: 250px;
	border: 1px solid #3d5160;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 5px;
}
.webcam-view-large {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.webcam-view-large:focus {
	outline: none;
	border: 3px solid var(--phiz-color);
}
.webcam-view-large:hover {
	transform: scale(1.03, 1.03);
	transition: .3s;
	box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}
.user-vid-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	height: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
/* holder of user video calling */
.vid-feed{
	width: 310px;
	height: 255px;
	border: 1px solid #3d5160;
	border-radius: 10px;
	margin: 2px;
}
/* video tag styling for user video call */
.vid-user-feed {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: fill;
}
.chabox-input {
	display: flex;
}
.attachment {
	text-align: center;
	border-radius: 50%;
	padding: 8px;
	width: 40px;
	height: 40px;
  text-decoration: none;
  color: var(--phiz-color);
  cursor: pointer;
}
.attachment:hover {
	color: var(--phiz-color);
	transform: scale(1.03, 1.03);
	transition: .3s;
	box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}
.chatbox-body {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #3d5160;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	overflow-y: auto;
}

/********************************************************************/
/***                      CHAT BUBBLE DESIGN                      ***/
/********************************************************************/
.media-body-orange > p {
	background-color: #e8733d; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #ffa54b, #ff6b65); /* Standard syntax (must be last) */
	border-radius: 20px 20px 0px 20px;
	padding: 16px 12px;
	margin-right: 5%;
	margin-left: 15%;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #fff;
	float: right;
	clear: right;
}
.media-body-orange > span {
	float: right;
	clear: right;
	margin-right: 5%;
	font-size: 13px;
	color: rgba(255,255,255, 0.3);
}
.media-body-gray > p {
	background-color: #344654;
	border-radius: 0px 20px 20px 20px;
	padding: 16px 12px;
	margin-right: 15%;
	margin-left: 5%;
	margin-bottom: 5px;
	margin-top: 5px;
	float: left;
	clear: left;
	color: #a1c1cb;
}
.media-body-gray > span {
	float: left;
	clear: left;
	margin-left: 5%;
	font-size: 13px;
	color: rgba(255,255,255, 0.3);
}
img.profile-pic-chat {
	margin-left: 5px;
	float: left;
	clear: left;
	width: 40px;
	border-radius: 50%;
  border: 2px solid #4b6168;
}
/****************** end of main content styling  *********************/
