<li class="chat-content">
    <% var className = (me)? 'pull-right':'pull-left';%>
     <% if (className=='pull-left'){ %>
     <span class="<%=className%>">
    <% if (userData.image){ %>
        <img class="media-object" src="<%=userData.image%>" style="width: 24px; height: 24px;" alt="<%=$.fn.mgVideoChat.htmlspecialchars(userData.name)%>"/>
    <% }else{ %>
        <p class="media-object glyphicon glyphicon-user" style="font-size: 24px; width: 24px; height: 24px;" title="<%=$.fn.mgVideoChat.htmlspecialchars(userData.name)%>"></p>
    <% } %>
    </span>    
    									<div class="media-body-gray">
    <span><%=$.fn.mgVideoChat.htmlspecialchars(userData.name)%></span>

    <p class="chatText <%=className%>"><%=message%></p><span class="meta">
											<time datetime="2018">00:10</time>
										</span></div>
    <% }%>
   
    <% if (className=='pull-right'){ %>
      <div class="media-body-orange">
      <span class="media-object glyphicon glyphicon-user" style="font-size: 24px; width: 24px; height: 24px;" title="<%=$.fn.mgVideoChat.htmlspecialchars(userData.name)%>"></span>

                                   <span ><%=$.fn.mgVideoChat.htmlspecialchars(userData.name)%></span>

								<p class="chatText <%=className%>"><%=message%></p><span class="meta">
												<i class="fa fa-check"></i><i class="fa fa-check"></i>
												<time datetime="2018">00:06</time>
											</span>
									</div>
     <span class="<%=className%>">
    <% if (userData.image){ %>
        <img class="media-object" src="<%=userData.image%>" style="width: 24px; height: 24px;" alt="<%=$.fn.mgVideoChat.htmlspecialchars(userData.name)%>"/>
    <% }else{ %>
        
    <% } %>
    </span>    
  
    <% }%>    
</li>